.wave {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.login-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}

.img img {
  width: 500px;
}

.login-box {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.text-center {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.login-form {
  width: 600px;
  text-align: center;
  align-items: center;
}

.avatar_bread {
  width: 100px;
  transition: width 0.3s ease;
  &:hover {
    width: 120px;
  }
}

.avatar_title {
  width: 400px;
}

.login-form h2 {
  text-transform: uppercase;
  color: #946d1f;
  font:
  bold 200% 'Heiti SC', 'SimHei', 'Microsoft YaHei', sans-serif;
}

@media screen {
  .img {
    display: none;
  }

  
  .login-container {
    grid-template-columns: 1fr;
  }

  .login-box {
    justify-content: center;
  }
}
